<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Foosball frontend</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>

                $(document).ready(function() {
                    $.get("http://localhost:6000/api/users?order=name", function(data, status) {
                        
                        var html = "<select>\n<option style=\"color: gray\" value=\"-1\" selected>-- select player --</option>{{0}}</select>";
                        var options = "";
                        for(var i = 0; i < data.users.length; i++) {

                            var user = data.users[i];

                            var row = "<option value=\"" + user.id + "\">" + user.name + "</option>\n";
                            options += row;
                        }

                        html = html.replace("{{0}}", options);
                        $("#team1player1").append(html);
                        $("#team1player2").append(html);
                        $("#team2player1").append(html);
                        $("#team2player2").append(html);

                        $("button#clear").click();

                    });
                    
                    $("button#clear").click( function() {
                        $("#team1player1 > select").val(-1);
                        $("#team1player2 > select").val(-1);
                        $("#team2player1 > select").val(-1);
                        $("#team2player2 > select").val(-1);
                        $("#goals1").val(0);
                        $("#goals2").val(0);
                        $("#password").val("");


                    });

                    $("button#add").click(function() {
                        var team1p1 = parseInt($("#team1player1 > select > option:selected").val());
                        var team1p2 = parseInt($("#team1player2 > select > option:selected").val());
                        var team2p1 = parseInt($("#team2player1 > select > option:selected").val());
                        var team2p2 = parseInt($("#team2player2 > select > option:selected").val());

                        var players_per_team = 1;

                        if (team1p2 == -1) {

                            if (team2p2 == -1) {
                                players_per_team = 1;
                            } else {
                                alert("Both teams must have same number of players");
                                return;
                            }
                        }
                        else {
                            if (team2p2 == -1) {
                                alert("Both teams must have same number of players");
                                return;
                            }
                            else {
                                players_per_team = 2;
                            }
                        }

                        if (team1p1 == -1 || team2p1 == -1) {
                            alert("Player 1 cannot be empty for either team");
                            return;
                        }

                        var homePlayers = players_per_team == 1 ? [team1p1] : [team1p1, team1p2];
                        var awayPlayers = players_per_team == 1 ? [team2p1] : [team2p1, team2p2];
                        var goals1 = parseInt($("#goals1").val());
                        var goals2 = parseInt($("#goals2").val());
                        var key = $("#password").val();

                        $.ajax(
                            {
                                type: "POST",
                                url: "http://localhost:6000/api/match/add", 
                                data : JSON.stringify(
                                    {
                                        "homePlayers": homePlayers,
                                        "awayPlayers": awayPlayers,
                                        "goals1": goals1,
                                        "goals2": goals2,
                                        "key": key
                                    }),
                                success: function(msg) {
                                    alert("Added");
                                    $("#clear").click();
                                },
                                error: function(jqxhr, status, error) {
                                   alert("ERROR: " + error + "\n\n" + JSON.parse(jqxhr.responseText).error);
                                }
                                
                             
                            // $("button#clear").trigger("click");
                        });

                    });
                });
            </script>
    </head>
    <body background="bg.jpg">
            <h1 style="color: red; background-color: white" width="50%">FOOSBALL FRONT END</h1>
    <marquee scrollamount="25">
        <img src="flame.png" height="30px"/>
            <img src="ball.png" height="30px" />
            <span style="color: blue; background-color: white">

                <i><b>
                    SEE RANKINGS AND UPLOAD MATCHES
                </b>
            </i>
            </span>
            <img src="ball.png" height="30px" />
        <img src="flame.png" height="30px"/>

    </marquee>

    <table width="100%">
            <tr>
                <td style="vertical-align: top; padding-right: 1em; background-color: gainsboro">
                    <ul>
                        <li><a href="index.html">Front page</a></li>
                        <li><a href="matches.html">Match list</a></li>
                        <li><a href="players.html">Ranking list</a></li>
                        <li><a href="add_match.html">Add match</a></li>
                        <li><a href="create_player.html">Create player</a></li>
                        <li><a href="info.html">About</a></li>
                    </ul>
                </td>
                <td style="vertical-align: top; padding: 5px 15px 5px 5px; background-color: whitesmoke">
                        <h2>Add match</h2>
                            <table cellpadding=5 cellspacing=0 border=1>
                                <tr>
                                    <th>Home team</th>
                                    <th>Result</th>
                                    <th>Away team</th>
                                </tr>
                                <tr>
                                    <td id="players1">
                                        <p id="team1player1">
                                            Player 1:
                                        </p>
                                        <p id="team1player2">
                                            Player 2:
                                        </p>
                                        <span style="font-size: 80%">(leave player 2 empty if 1vs1 match)</span>

                                    </td>
                                <td align="center" valign="center">
                                    <input id="goals1" type="number" min="0" max="99" value="0" style="width: 5em; text-align: center"/> 
                                    &ndash; 
                                    <input id="goals2" type="number" min="0" max="99" value="0" style="width: 5em; text-align: center"/>
                                </td>
                                <td id="players2">
                                        <p id="team2player1">Player 1:</p>
                                        <p id="team2player2">Player 2:</p>
                                        <span style="font-size: 80%">(leave player 2 empty if 1vs1 match)</span>
                                </td>
                            </tr>
                            </table>
                            <p>
                                Password: <input type="password" id="password" value=""/>
                            </p>
                            <p>
                                <button id="add">Add match</button> 
                                <button id="clear" type="reset">Reset</button>
                            </p>
                            <p>
                                <span id="message" style="color: red"></span>
                            </p>
                </td>
            </tr>
        </table>
        
        <hr />
        &copy; KM2019
        <span id="debug"></span>
    </body>

</html>