<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Foosball frontend</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        function createRankingText(change) {
            if (change < 0) {
                return "<span style=\"color: red\">(" + change.toFixed(2) + ")</span>";
            } else if (change == 0) {
                return "<span style=\"color: blue\">(&plusmn;" + change.toFixed(2) + ")</span>";
            } else {
                return "<span style=\"color: green\">(+" + change.toFixed(2) + ")</span>";
            }

        }

        $(document).ready(function () {
            $.get("http://localhost:6000/api/matches", function (data, status) {

                var html = "<tr><td>{{0}}</td><td align=\"right\">{{1}}</td><td align=\"center\">{{2}}</td><td align=\"left\">{{3}}</td></tr>";

                for (var i = data.matches.length - 1; i >= 0; i--) {

                    var match = data.matches[i];
                    var row = html;
                    row = row.replace("{{0}}", match.date);

                    var homeTeam = createRankingText(match.change1[0]) + " " + match.team1Names[0];
                    var awayTeam = match.team2Names[0] + " " + createRankingText(match.change2[0]);

                    if (match.playersPerTeam == 2) {
                        homeTeam += "<br>" + createRankingText(match.change1[1]) + " " + match.team1Names[1];
                        awayTeam += "<br>" + match.team2Names[1] + " " + createRankingText(match.change2[1]);
                    }

                    row = row.replace("{{1}}", homeTeam).replace("{{3}}", awayTeam);
                    var result = match.goals1 + "&ndash;" + match.goals2;
                    row = row.replace("{{2}}", result);

                    $("#matches").append(row);

                }
            });
        });
    </script>
</head>

<body background="bg.jpg">
    <h1 style="color: red; background-color: white" width="50%">FOOSBALL FRONT END</h1>
    <marquee scrollamount="25">
        <img src="flame.png" height="30px" />
        <img src="ball.png" height="30px" />
        <span style="color: blue; background-color: white">

            <i><b>
                    SEE RANKINGS AND UPLOAD MATCHES
                </b>
            </i>
        </span>
        <img src="ball.png" height="30px" />
        <img src="flame.png" height="30px" />

    </marquee>


    <table width="100%">
        <tr>
            <td style="vertical-align: top; padding-right: 1em; background-color: gainsboro">
                <ul>
                    <li><a href="index.html">Front page</a></li>
                    <li><a href="matches.html">Match list</a></li>
                    <li><a href="players.html">Ranking list</a></li>
                    <li><a href="add_match.html">Add match</a></li>
                    <li><a href="create_player.html">Create player</a></li>
                    <li><a href="info.html">About</a></li>
                </ul>
            </td>
            <td style="vertical-align: top; padding: 5px 15px 5px 5px; background-color: whitesmoke">
                <h2>Matches</h2>
                <p>
                    Here you can see the latest results.
                </p>
                <table id="matches" cellspacing="1" cellpadding="5" Border="1">
                    <tr>

                        <th>Date</th>
                        <th>Team1</th>
                        <th>Result</th>
                        <th>Team2</th>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <hr />
    &copy; KM2019
    <span id="debug"></span>
</body>

</html>