<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Foosball frontend</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $.get("http://localhost:6000/api/users?order=points", function (data, status) {

                var html = "<tr><td align=\"right\">{{#}}</td><td>{{0}}</td><td>{{1}}</td><td align=\"center\">{{2}}</td><td align=\"center\">{{3}}</td><td align=\"center\">{{4}}</td><td align=\"center\">{{5}}</td>";

                for (var i = 0; i < data.users.length; i++) {

                    var user = data.users[i];
                    var row = html.replace("{{#}}", i + 1);
                    row = row.replace("{{0}}", user.name + " (" + user.id + ")");
                    row = row.replace("{{1}}", user.points.toFixed(2));
                    row = row.replace("{{2}}", user.played).replace("{{3}}", user.wins).replace("{{4}}", user.losses);

                    var percentage = user.played == 0 ? "0.00%" : ("" + (100 * user.wins / user.played).toFixed(2) + "%");
                    row = row.replace("{{5}}", percentage);

                    $("#players").append(row);

                }
            });
        });
    </script>
</head>

<body background="bg.jpg">
    <h1 style="color: red; background-color: white" width="50%">FOOSBALL FRONT END</h1>
    <marquee scrollamount="25">
        <img src="flame.png" height="30px" />
        <img src="ball.png" height="30px" />
        <span style="color: blue; background-color: white">

            <i><b>
                    SEE RANKINGS AND UPLOAD MATCHES
                </b>
            </i>
        </span>
        <img src="ball.png" height="30px" />
        <img src="flame.png" height="30px" />

    </marquee>


    <table width="100%">
        <tr>
            <td style="vertical-align: top; padding-right: 1em; background-color: gainsboro">
                <ul>
                    <li><a href="index.html">Front page</a></li>
                    <li><a href="matches.html">Match list</a></li>
                    <li><a href="players.html">Ranking list</a></li>
                    <li><a href="add_match.html">Add match</a></li>
                    <li><a href="create_player.html">Create player</a></li>
                    <li><a href="info.html">About</a></li>
                </ul>
            </td>
            <td style="vertical-align: top; padding: 5px 15px 5px 5px; background-color: whitesmoke">
                <h2>Ranking</h2>
                <p>
                    Here you can see who is the best.
                </p>
                <table id="players" cellspacing="1" cellpadding="5" Border="1">
                    <tr>
                        <th>pos.</th>
                        <th>Player name (id)</th>
                        <th>Points</th>
                        <th>Played</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Win%</th>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <hr />
    &copy; KM2019
    <span id="debug"></span>
</body>

</html>